$background:#FAFAFA;
$mainBackground:#F3F3F3;
$primary: #39444A;
$secundary: #ffcb05;
$tertiary: #29c1d8;
$inputBackground: #E2E2E2;
$text:#FAFAFA;
$cardShadow: -2px 5px 4px -1px rgba(0, 0, 0, 0.1);
$error: #FF4554;
